---
const { src, alt, caption, number, fullBleed = false, maxW = 'max-w-3xl' } = Astro.props;
const base = import.meta.env.BASE_URL.replace(/\/$/, '');
const full = src.startsWith('http') ? src : `${base}${src.startsWith('/') ? '' : '/'}${src}`;
---
<figure class={`my-16 ${fullBleed ? '-mx-6 md:-mx-10' : `mx-auto ${maxW}`}`}>
  <div class="relative overflow-hidden">
    <img src={full} alt={alt} loading="lazy" class="w-full h-auto" />
  </div>
  {(number || caption) && (
    <figcaption class="figure-caption mt-5 px-4">
      {number && <><span class="smallcaps text-gold font-normal not-italic">ภาพที่ {number}</span>&nbsp;&nbsp;|&nbsp;&nbsp;</>}
      {caption}
    </figcaption>
  )}
</figure>
